body {
    padding: 20px;
}

h1 {
    text-align: center;
    font-size: 28px;
    font-weight: bold;
    width: 100%;
}

#projectSelect {
    min-width: 35%;
    margin-top: 20px;
}

#milestonesContainer {
    display: none;
    margin-top: 20px;
}

#milestoneSelect {
    height: 90px;
    min-width: 35%;
}

#graphContainer {
    display: none;
    width: 100%;
    margin-top: 40px;
}

#graph {
    margin: 20px auto;
    height: 400px; 
    width: 100%;
}

#avcoLogo {
    max-width: 200px;
    margin-left: 20px;
}

#spinner {
    max-width: 40px;
    margin-left: 10px;
    vertical-align: bottom;
    display: none;
}

@media print { 
    #projectContainer {
        display: none !important; 
    } 
    
    #milestonesContainer {
        display: none !important; 
    }
}